<div class="row panel-body">
 <div class="col-sm-6 col-md-6 col-lg-6" style="padding-left:0px">
   <div class="panel panel-default">
     <div class="panel-heading">
        <span>Spring Festival</span>
     </div>
     <div class="panel-body">
       <div class="text-center">
         <p-chart type="bar" [data]=data [options]="options"></p-chart>
       </div>
     </div>
   </div>
 </div>
 <div class="col-sm-6 col-md-6 col-lg-6" style="padding-right:0px">
  <div class="panel panel-default">
    <div class="panel-heading">
       <span>Spring Activity</span>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <p-chart type="pie" [data]=pieData [options]="pieOptions"></p-chart>
      </div>
    </div>
  </div>
 </div>
</div>
<div class="row panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span> Activity Details</span>
    </div>
    <div class="panel-body">
      <div class="col-md-12 padding-left-0 padding-right-0">
        <p-dataTable [value]="details" [paginator]="true" [rows]="4" [rowsPerPageOptions]="[8,10,20]"
        [responsive]=true scrollable="true" scrollHeight="300px" sortMode="multiple">
            <p-column field="name" header="Event Name">
                <ng-template let-col let-data="rowData" pTemplate="body">
                    <button type="button" class="btn btn-link" title="{{data.name}}" (click)="showDetail(data.name)" >{{data.name}}</button>
                </ng-template>
            </p-column>
            <p-column field="date" header="Event Date">
              <ng-template let-col let-data="rowData" pTemplate="body">
                  <span title="{{data.date}}">{{data.date}}</span>
              </ng-template>
             </p-column>
            <p-column field="place" header="Event Place">
                <ng-template let-col let-data="rowData" pTemplate="body">
                    <span title="{{data.place}}">{{data.place}}</span>
               </ng-template>
            </p-column>
            <p-column field="details" header="Event Details">
              <ng-template let-col let-data="rowData" pTemplate="body">
                  <span title="{{data.details}}">{{data.details}}</span>
              </ng-template>
            </p-column>
            <p-column field="forWho" header="Event For Who">
              <ng-template let-col let-data="rowData" pTemplate="body">
                  <span title="{{data.forWho}}">{{data.forWho}}</span>
              </ng-template>
            </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
